<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>코무제너레이터</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="comu-container">
        <div class="text">
            코<span class="word-container"><span id="co">딩</span></span><span id="co-postposition">이랑</span>
        </div>
        <div class="text">
            무<span class="word-container"><span id="mu">관</span></span>합니다만,
        </div>
    </div>
    <div style="display: flex; align-items: center;">
        <button style="margin: auto;" id="gen-btn">생성</button>
    </div>
    <div class="describe-container">
        <b id="co-word"></b>
        <span id="co-desc" class="descibe">
        </span>
    </div>
    <div class="describe-container">
        <b id="mu-word"></b>
        <span id="mu-desc" class="descibe">
        </span>
        <hr>
        <div class="origin-container">
            단어출처 : <a href="https://wordrow.kr/">wordrow.kr</a>  / <a href="https://opendict.korean.go.kr/main">국립국어원 우리말샘</a>
        </div>
    </div>

    <script type="text/javascript" src="index.js"></script>
</body>
</html>