<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="comu-container">
        <div class="text">
            코<span class="word-container"><span id="co">딩</span></span>(이)랑
        </div>
        <div class="text">
            무<span class="word-container"><span id="mu">관</span></span>합니다만,
        </div>
    </div>
    <div style="display: flex; align-items: center;">
        <button style="margin: auto;" id="gen-btn">생성</button>
    </div>
    <div class="describe-container">
        <b id="co-word"></b>
        <span id="co-desc" class="descibe">
        </span>
    </div>
    <div class="describe-container">
        <b id="mu-word"></b>
        <span id="mu-desc" class="descibe">
        </span>
    </div>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>