.comu-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    margin: 100px auto;
}

.text {
    margin: 10px auto;
}

.word-container {
    display:inline-block;
    width: auto;
    border: 3px solid red;
    text-align: center;
}

.text-in {
    display: inline-block;
    animation: textIn .5s ease;
}

.text-out {
    display: inline-block;
    animation: textOut .5s ease;
}

.describe-container {
    display: none;
    margin: 30px auto;
    width: 50%;
    min-width: 300px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

#gen-btn {
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}

@keyframes textIn{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes textOut{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);

    }
}

@media (prefers-color-scheme: dark) {
    .body {
        background: #1f1b24
    }

    .text {
        color: #e1e1e1
    }

    .describe-container {
        display: none;
        margin: 30px auto;
        width: 50%;
        min-width: 300px;
        color: #a5a5a5
    }

    .origin-container {
        color: #a5a5a5
    }

    .link {
        color: #58a6ff
    }
}
